/*Generico*/
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  color: black;
  line-height: 1.2;
}



img {
  padding: 0;
  margin: 0;
}

article {
  display: block;
}





/*-------------MAIN PAGE-------------*/
#mainpage {
  max-width: 996px;
  position: relative;
  margin: 0 auto 0 auto;
  background-color: #fff;
}

#footer ul,
header ul {
  list-style-type: none;
}

/*-------------Header slim-------------*/
#header-slim {
  background-color: #4297b5;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
}

#navbar {
  display: block;
  visibility: visible;
  background-color: #4297b5;
  color: #fff;
}



#header-slim .logo {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  width: 65px;
  height: 38px;
}








/*-------------Mid Header-------------*/

#mid-header {
  overflow: auto;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
  flex-direction: row;
  height: auto;
  display: none;
  visibility: hidden;
}

#mid-header #update {
  text-align: center;
}

#mid-header #meteo {
  position: relative;
  margin-left: 15px;
  font-size: 12px;
  text-transform: uppercase;
  float: left;
  width: 33%;
}

#mid-header #meteo .meteo-testo {
  font-weight: bold;
}

#mid-header #meteo a {
  text-transform: uppercase;
  color: black;
}

#mid-header #meteo .weather-image {
  height: 14px;
  margin-left: 4px;
}

#mid-header #update {
  color: #878787;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  float: left;
  width: 33%;
}

#mid-header .login {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  width: 33%;
  float: left;
  margin-right: 15px;
}

#mid-header .login a {
  color: black;
  font-weight: 700;
}

#mid-header .login a:hover {
  color: #4297b5;
}

#mid-header .login ul {
  float: right;
}

#mid-header .login ul li {
  float: left;
}

#mid-header .login ul li:nth-child(1) {
  padding-right: 10px;
}

#mid-header .login ul li:last-child {
  border-left: 1px solid black;
  padding-left: 10px;
}

#mid-header1 {
  height: auto;
  overflow: auto;
  margin: 25px 15px 25px 15px;
}

#mid-header1 .titolo {
  display: block;
  float: left;
  font: bold 25px "Times New Roman", Times, serif;
}

#member-menu {
  position: relative;
  float: right;
}

#member-menu ul {
  display: flex;
}

#member-menu ul li a {
  display: block;
  font-size: 12px;
  padding: 8px;
  color: #4d4d4d;
  background-color: #e2e2e2;
}

#member-menu ul li:not(:first-child) a {
  border-left: 1px solid #fff;
}

#member-menu ul li:not(:first-child) a:hover {
  background-color: #4297b5;
  color: white;
}

#member-menu ul li:first-child a {
  background-color: #ffdf33 !important;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: black;
}





/*-------------Bottom Header-------------*/
#bottom-header {
  display: none;
  visibility: hidden;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  position: relative;
}

#bottom-header nav>ul {
  position: relative;
}

#bottom-header nav ul li {
  display: inline-block;
}

#bottom-header nav>ul>li>a {
  display: block;
  color: #4d4d4d;
  font-size: 13px;
  padding: 12px 10px;
  white-space: nowrap;
}

#bottom-header nav>ul>li>a:hover {
  color: black;
}










/*-------------MENU ACTION-------------*/

#header-action .menu-toggle {
  position: absolute;
  top: 5px;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 5;
}

#header-action .menu-toggle span {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 2px;
  background: #4297b5;
  left: 50%;
  margin-left: -10px;
}

#header-action .menu-toggle span:before {
  top: -6px;
}

#header-action .menu-toggle span:after {
  top: 6px;
}

#header-action .menu-toggle span:before,
#header-action .menu-toggle span:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #4297b5;
}

#header-action #admin-toggle {
  position: absolute;
  top: 50px;
  right: 25px;
}












/*-------------MAIN CONTENT- ARTICOLI E SIDEBAR-------------*/

.main-content {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.contenuto {
  margin-top: 16px;
  position: relative;
}

.riga {
  position: relative;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.titolo-articoli {
  position: relative;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 800;
  text-transform: uppercase;
  color: #4297b5;
  border-top: 1px solid #4297b5;
  border-bottom: 1px solid #e2e2e2;
}

.articolo {
  margin-bottom: 16px;
  flex-basis: 100%;
  position: relative;
}

.sottotitolo-articolo {
  display: inline-block;
  font-size: 14px;
  color: #4297b5;
  text-transform: uppercase;
}

.titolo-articolo {
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 12px;
  margin-top: 8px;
}

.articolo:hover .titolo-articolo a {
  color: #64adc6;
}

.autore-articolo {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
  margin-top: 8px;
  position: relative;
}


.contenuto-articolo {
  padding-top: 8px;
}

.premium .titolo-articolo a {
  background: #fff4d3;
}


.blocco-sidebar {
  background-color: #f4f4f4;
  padding-bottom: 24px;
}

.sidebar ul li a {
  list-style-type: circle;
}

.sidebar .titolo-articolo {
  padding-bottom: 20px;
}

.sidebar .titolo-articolo:hover {
  color: #64adc6;
}

.sidebar .articoli-sidebar li:hover a {
  color: #64adc6;
  text-decoration: underline;
}

.sidebar .contenuto-articolo {
  padding-left: 16px;
  padding-right: 16px;
}

.sidebar .articoli-sidebar {
  padding-left: 16px;
}

.articoli-sidebar li a {
  padding: 4px 8px 4px 0px;
  color: #575757;
  display: block;
  position: relative;
}

.fine-griglia {
  flex-basis: 100%;
  border-top: 1px solid #e2e2e2;
  color: #4297b5;
  max-width: 100%;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 26px;
}


.immagine-articolo {
  width: 100%;
}








/*-------------FOOTER-------------*/

#footer {
  position: relative;
  background-color: #4d4d4d;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 12px;
  line-height: 1.5;
  color: white;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#footer .contenitore {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.footer-info {
  margin-bottom: 16px;
}

.footer-menu li {
  display: inline-block;
}

.footer-menu li+li a {
  margin-left: 5px;
  padding-left: 4px;
  border-left: 1px solid #fff;
}

.footer-menu li a:hover {
  text-decoration: underline;
}

.footer-indirizzo {
  margin-top: 16px;
}

.footer-copyright {
  border-top: 1px solid #fff;
  padding-top: 16px;
}


























/*-------------MEDIA QUERY-------------*/
@media screen and (min-width: 768px) {


  #navbar {
    display: block;
    visibility: visible;
  }

  #bottom-header {
    display: block;
    visibility: visible;
    overflow-x: hidden
  }

  #bottom-header nav>ul {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
  }

  #mid-header {
    display: flex;
    visibility: visible;
  }


  #header-action {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
  }


  #header-action .menu-toggle {
    top: -45px;
  }

  #header-action .menu-toggle span {
    background: white;
  }

  #header-action .menu-toggle span:before,
  #header-action .menu-toggle span:after {
    background: white;
  }

  #header-action #admin-toggle {
    display: none;
    visibility: hidden;
  }

  .riga {
    display: flex;
  }

  .articoli {
    flex-grow: 1;
    flex-basis: 66.66%;
    max-width: 66.66%;
  }


  .sidebar {
    flex-grow: 1;
    flex-basis: 33.33%;
    max-width: 33.33%;
    min-width: 348px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
  }

  .titolo-articoli {
    font-size: 20px;
    margin-bottom: 18px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .griglia-articoli {
    display: flex;
    flex-wrap: wrap;
  }

  .griglia-item {
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .griglia-item.primo-articolo {
    flex-basis: 100%;
    max-width: 100%;
  }

  .titolo-articolo {
    font-size: 18px;
  }

  .griglia-item.primo-articolo .titolo-articolo {
    font-size: 28px;
  }

  .fine-griglia {
    text-align: right;
    margin-left: 16px;
  }

  .footer-info {
    display: flex;
    align-items: center;
  }

  .footer-logo {
    margin-right: 20px;
  }

  .footer-menu li+li a {
    margin-left: 10px;
    padding-left: 9px;
  }

  .menu-primario {
    overflow: auto;
    padding-left: 31px;
    position: relative;
  }
  
  .menu-primario li {
    float: left;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .menu-primario .nav-item {
    padding-left: 6px;
    padding-right: 6px;
    border-left: 1px solid #61abc5;
  }
  
  .menu-primario li:first-child .nav-item {
    border-left: 0;
  }
  
  .menu-primario a {
    font-size: 10px;
    color: white;
    text-transform: uppercase;
  }
  
  .menu-primario li:hover {
    background-color: #e8f2f6;
  }
  
  .menu-primario li:hover .nav-item {
    border-left: 1px solid #e8f2f6;
  }
  
  .menu-primario li:hover a {
    color: black;
  }


}







@media screen and (min-width: 1152px) and (max-width: 2560px) {
  #bottom-header nav>ul>li>a {
    font-size: 15px;
  }

  #bottom-header nav>ul {
    flex-wrap: wrap;
  }

  #member-menu ul li a {
    font-size: 14px;
  }

  .articoli {
    flex-basis: 75%;
    max-width: 75%;
  }

  .sidebar {
    flex-basis: 25%;
    max-width: 25%;
    max-width: 348px;
  }


  .titolo-articoli {
    font-size: 22px;
  }


  .griglia-item.primo-articolo .articolo {
    display: flex;
    margin-bottom: 32px;
  }

  .griglia-item.primo-articolo img {
    flex-basis: 50%;
  }

  .griglia-item.primo-articolo .contenuto-articolo {
    flex-basis: 50%;
    padding-left: 16px;
    top: 0;
  }


  .titolo-articolo {
    font-size: 22px;
  }

  .footer-logo {
    margin-right: 40px;
  }



}







@media screen and (max-width: 768px) {

  .menu-primario {
    display: none;
  }
  

  .menu-toggle {
    display: block;
  }


  #header-slim{
    float: none;
    flex-direction: column-reverse;
  }

  .menu-primario.menu-mobile {
    display: block;
    background-color: white;
    padding-top: 70px;
    margin-bottom: -50px;
    margin-left: -16px;
    margin-right: -16px;
}

.menu-primario.menu-mobile li {
  padding-top: 16px;
  padding-bottom: 16px;
}

.menu-primario.menu-mobile .nav-item {
  padding-left: 16px;
  padding-right: 16px;
}


.menu-primario.menu-mobile a {
  font-size: 16px;
  color: black;
  text-decoration: none;
  text-transform: none;
}

.menu-primario.menu-mobile li:not(:first-child) {
border-top: 1px solid #efefef;
}

  #mid-header1 {
    margin-top: 15px;
  }

  #mid-header1 .titolo {
    text-align: center;
    position: absolute;
    top: 50px;
    left: 20%;
    right: 20%;
  }

  #member-menu {
    float: left;
    padding-top: 42px;
  }

  #header-action .menu-toggle {
    width: 50px;
    height: 50px;
    cursor: pointer;
    top: 40px;
    right: 0;
  }


  .contenuto {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;
  }


  .blocco-sidebar {
    margin-left: -16px;
    margin-right: -16px;
  }

  .titolo-articolo {
    font-size: 22px;
  }

  .griglia-item:not(:first-child) .immagine-articolo {
    display: none;
  }

  .griglia-item:not(:first-child) {
    border-top: 1px solid #e2e2e2;
  }

  .footer-logo {
    margin-bottom: 16px;
  }



}